.box {
  height: 400px;
  background-color: antiquewhite;
  background: url(../img/矩形背景.png) round;
  z-index: 0;
}
.box2 {
  height: 400px;
}
.box3 {
  height: 120px;
}
.box4 {
  height: 50px;
}
.box5 {
  height: 300px;
  color: aliceblue;
  font-weight: 600;
}
#backbtn {
  margin: 10px;
}
.h1 {
  color: aliceblue;
}
.h7 {
  color: aliceblue;
}
#kefubtn {
  position: absolute;
  right: 10px;
  top: 10px;
}
